
body{
    background-image: url(img/fondeo\ escuela\ 1.png);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.logoSchool{
    display: block;
    margin: 210px auto 20px auto;
}




.buttomEntry {
    display: block;
    margin: auto;
    width: 150px;
    height: 60px;
    border-radius: 30px;
    color: white;
    text-shadow: black;
    background-color:#FFA9B8;
    border: 1px solid black;
    font-family: 'Acme', sans-serif;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    font-size: 40px;
    
}